/* ====================== CSS RESET ====================== */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ====================== CSS Variables ====================== */

:root {
    --bg-color: #FAF6F5;
    --bg-card-color: #FDFCFC;
    --accent-color: #FF8562;
    --text-color: #5A5655;
    --heading-color: #312B29;

    --heading-h1: 600 48px / 1.0 "Geologica", sans-serif;
    --heading-h2: 200 40px / 1.05 "Geologica", sans-serif;
    --heading-h3: 300 24px / 1.20 "Geologica", sans-serif;
    --heading-h4: 700 16px / 1.40 "Geologica", sans-serif;

    --heading-h1--mobile: 600 40px / 1.0 "Geologica", sans-serif;
    --heading-h2--mobile: 200 32px / 1.05 "Geologica", sans-serif;
    --heading-h3--mobile: 300 20px / 1.20 "Geologica", sans-serif; 

    --text-regular: 400 14px / 1.40 "Golos Text", sans-serif;
    --text-btn--primary: 500 16px / 1.40 "Geologica", sans-serif;
    --text-btn--secondary: 300 16px / 1.40 "Geologica", sans-serif;
}

/* ====================== CSS Global ====================== */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font: var(--text-regular);

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.container {
    width: 100%;
    max-width: 368px;
    margin: 0 auto;
    padding: 40px 16px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--bg-card-color);
    padding: 24px 24px 32px 32px;
    text-wrap: balance;
    border-radius: 12px;
    box-shadow: 2px 2px 14px hsl(12 100% 50% / 0.04);
}

h1 {font: var(--heading-h1--mobile); color: var(--heading-color);}
h2 {font: var(--heading-h2--mobile); color: var(--heading-color);}
h3 {font: var(--heading-h3--mobile); color: var(--heading-color);}
h4 {font: var(--heading-h4); color: var(--accent-color);}

@media (min-width: 640px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 960px;
        padding: 64px 24px;
    }
    h1 {font: var(--heading-h1);}
    h2 {font: var(--heading-h2);}
    h3 {font: var(--heading-h3);}
}

@media (min-width: 1280px) {
    .container {
        max-width: 1488px;
    }
}

/* ====================== BUTTONS ====================== */

.btn {
    display: block;
    width: 100%;
    max-width: 468px;
    padding: 18px 24px 20px;
    border-radius: 12px;
    text-align: center;
    transition:
        background-color 200ms ease-in-out,
        outline 200ms ease-in-out,
        box-shadow 200ms ease-in-out,
        transform 10ms ease-in-out;
}

.btn--primary {
    color: var(--bg-color);
    font: var(--text-btn--primary);
    background-color: var(--accent-color);
    outline: 1px solid transparent;
    outline-offset: 2px;
}
.btn--primary:hover {
    background-color: color-mix(in srgb, var(--accent-color), #000 4%);
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
}
.btn--primary:active {
    background-color: color-mix(in srgb, var(--accent-color), #000 8%);
    transform: scale(0.99);
}

.btn--secondary {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--accent-color);
    font: var(--text-btn--secondary);
    padding: 12px 24px 14px;
}
.btn--secondary:hover {
    box-shadow: inset 0 0 0 2px var(--accent-color);
}
.btn--secondary:active {
    transform: scale(0.99);
}

/* ====================== Hero Section ====================== */

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__img {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero__info {
    gap: 16px;
    padding: 32px;
}

.hero__role {
    font: var(--heading-h4);
    color: var(--accent-color);
}

.hero__desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero__skill-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}